html { 
    background: url("./images/Teletubby_and_Cow.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

.card {
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 620px;
    margin: 1em;
    background: #000000;
    opacity: 90%;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    padding: 0.4em 1em;
    border: none;
    border-radius: 24px;
    outline: none;
    background: #2424247b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

.icon {
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
    margin: 9px;
    background-color: rgb(0, 255, 157);
}

.username {
    margin-top: 5px;
    margin-bottom: 5px;
}

.text {
    margin-top: auto;
    margin-bottom: 10px;
}

.likes {
    height: 25px;
    width: 25px;
    margin-left: 120px;
}

.likes h5 {
    display: inline-block;
}

.svg {
    display: none;
}
